<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{pageTitle}}</title>
    <meta name="description" content="{{pageDescription}}">
    
    <!-- open graph metadata -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{pageTitle}}">
    <meta
      property="og:description"
      content="{{pageDescription}}"
    >
    <meta property="og:url" content="{{pageUrl}}">
    <meta
      property="og:image"
      content="{{siteImage}}"
    >

    <!-- twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:text:title" content="{{pageTitle}}">
    <meta
      name="twitter:description"
      content="{{pageDescription}}"
    >
    <meta name="twitter:url" content="{{pageUrl}}">
    <meta
      name="twitter:image"
      content="{{siteImage}}"
    >

    <link rel='stylesheet' href='css/main.css'>
    <link rel='stylesheet' href='css/font.css'>
    <script
      src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'
      defer
    ></script>
    <script src='js/main.js' defer></script>

    {{#if (areEqual @exphbs.view (homePageView))}}
      <script src='js/home.js' defer></script>
    {{else if (areEqual @exphbs.view (cardPageView))}}
      <script src='js/card.js' defer></script>
    {{/if}}

  </head>
  <body>
    <div class="column-view container">
      {{> loading-view}}
      <div class="main-view">
        <h1 class='title'>{{siteTitle}}</h1>
        <p class='subtitle'>

          {{#if (areEqual @exphbs.view (homePageView))}}
            {{pageDescription}}
          {{else if (areEqual @exphbs.view (cardPageView))}}
            {{cardPageSubtitle}}
          {{/if}}

        </p>
        <div class='content'>
          {{{body}}}
        </div>
      </div>
    </div>
    <footer class='footer'>
      <a href='https://www.spotify.com' target='_blank' rel='noreferrer'>
        <img
          class='spotify-logo'
          src='images/Spotify_Logo_RGB_White.png'
          alt='spotify.com'
          height='30'
        >
        <img
          class='spotify-icon'
          src='images/Spotify_Icon_RGB_White.png'
          alt='spotify.com'
          height='30'
        >
      </a>
      <a
        class='repo-link'
        href='https://github.com/magic-ike/spotify-data-card'
        target='_blank'
        rel='noreferrer'
      >Made with 💚 and Node</a>
    </footer>
  </body>
</html>